CONFIG_ESPTOOLPY_BAUD_115200B=n
CONFIG_ESPTOOLPY_BAUD_230401B=n
CONFIG_ESPTOOLPY_BAUD_921600B=y
CONFIG_ESPTOOLPY_BAUD_2MB=n
CONFIG_ESPTOOLPY_BAUD_OTHER=n

CONFIG_ESPTOOLPY_FLASHSIZE_1MB=n
CONFIG_ESPTOOLPY_FLASHSIZE_2MB=n
CONFIG_ESPTOOLPY_FLASHSIZE_4MB=y
CONFIG_ESPTOOLPY_FLASHSIZE_8MB=n
CONFIG_ESPTOOLPY_FLASHSIZE_16MB=n

CONFIG_ESP_PANIC_PRINT_HALT=y
CONFIG_ESP_PANIC_PRINT_REBOOT=n
CONFIG_ESP_PANIC_SILENT_REBOOT=n
CONFIG_ESP_PANIC_GDBSTUB=n

CONFIG_LWIP_IPV6=y

