menu "Application config"

    config SNTP_SERVER
        string "SNTP server"
        default "pool.ntp.org"

    config TZ_NAME
        string "Timezone"
        default "America/Montreal"

    config CLOCK_CLK_PIN
        int "Clock CLK pin number"
        default 5

    config CLOCK_DIO_PIN
        int "Clock DIO pin number"
        default 4

endmenu
